@import "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css";
body {
  background-color: #181818;
  color: white;
}

.container {
  align-items: center;
  max-width: 1300px;
}

.form-control input:focus, .form-control textarea:focus {
  border-color: #FCA311;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #FCA311;
}

#journal, #entries, #program, #exercises {
  color: #14213D;
}

#navbar {
  color: #14213D;
}

nav {
  background-color: #FCA311;
}
nav .container-fluid {
  max-width: 1300px;
}
nav a {
  cursor: pointer;
}

#jvHeader {
  padding: 0.75rem;
  margin-top: 0.5rem;
  margin-bottom: 0.75rem;
  background-color: #242423;
  border-radius: 0.5rem;
}

#jvContent .jvSubmitButton {
  padding-top: 0.75rem;
}
#jvContent .card-header {
  margin-left: 0;
  margin-right: 0;
}
#jvContent .card-header .col-9 {
  padding-left: 0;
}

#jvSubmit {
  border-color: #FCA311;
  color: #FCA311;
}

#jvSubmit:hover {
  background-color: #FCA311;
  color: #14213D;
}

@media (max-width: 768px) {
  #jvWorkouts {
    padding-bottom: 0.75rem;
    min-width: 100%;
  }
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateY(-8px);
      display: none;
    }
  }
  #jvWorkouts .fade-out {
    animation-name: fadeOut;
    animation-duration: 200ms;
    animation-fill-mode: both;
    animation-delay: 50ms;
    animation-timing-function: ease-in-out;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
      display: block;
      transform: translateY(-8px);
    }
    100% {
      opacity: 1;
    }
  }
  #jvWorkouts .fade-in {
    animation-name: fadeIn;
    animation-duration: 250ms;
    animation-fill-mode: both;
    animation-delay: 50ms;
    animation-timing-function: ease-in-out;
  }
  #jvWorkouts .list-group-item.active {
    display: block;
  }
  #jvWorkouts .workout-card-toggle {
    display: block;
    padding: 0.25rem;
  }
  #jvWorkouts .workout-card-toggle svg {
    cursor: pointer;
  }
  #jvWorkouts .hide {
    display: none;
  }
}
@media (min-width: 768px) {
  #jvWorkouts .workout-card-toggle svg {
    display: none;
  }
  #jvWorkouts .list-group-item {
    display: block;
  }
}
#jvWorkouts .list-group-item.active {
  background-color: #FCA311;
  border: none;
  color: #14213D;
}

#jvForms {
  flex-grow: 1;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(-8px);
  }
  100% {
    opacity: 1;
  }
}
.entry-form {
  margin-top: 0.5rem;
  animation-name: slide;
  animation-duration: 200ms;
  animation-delay: calc(var(--animation-order) * 100ms);
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}
.entry-form svg:hover {
  cursor: pointer;
  color: #FCA311;
}

.search-container {
  position: relative;
  z-index: 1;
}

.search-results {
  position: absolute;
  display: none;
  background-color: #212529;
  width: 100%;
  top: 100%;
  left: 0;
  border-style: solid;
  border-width: 1px;
  border-color: #FCA311;
  padding-bottom: 0.75rem;
  max-height: 300px;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 100;
}
.search-results .search-header {
  padding: 0.5rem;
  padding-bottom: 0;
  color: #FCA311;
}

.search-results.visible {
  display: block;
}

#calendar-dates .date-faded {
  color: rgb(78, 78, 78);
}
#calendar-dates .date-marked {
  background-color: white;
  color: grey;
  cursor: pointer;
}/*# sourceMappingURL=styles.css.map */