@import "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css";
body {
  background-color: #181818;
  color: white;
}
body a {
  color: #FCA311;
}
body .btn-outline-info {
  border-color: #FCA311;
  color: #FCA311;
}
body .btn-outline-info:hover {
  border-color: #FCA311;
  background-color: #FCA311;
  color: #14213D;
}
body input:focus, body textarea:focus {
  border-color: #FCA311;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #FCA311;
}
body .entry-form-close-button {
  padding-right: 0.25rem;
}
body .form-check-input:checked {
  background-color: #FCA311;
  border-color: #FCA311;
}
body input.form-control:focus, body textarea.form-control:focus {
  border-color: #FCA311;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #FCA311;
}
body table thead {
  --bs-table-color: #FCA311;
}

#content {
  max-width: 1300px;
}

nav {
  background-color: #FCA311;
}
nav a {
  cursor: pointer;
}
nav .nav-link {
  border-radius: 1rem;
}
nav .nav-link:hover {
  color: white;
  background-color: #262b30;
}

.view-heading {
  padding: 0.75rem;
  margin-top: 0.5rem;
  margin-bottom: 0.75rem;
  background-color: #262b30;
  border-radius: 0.5rem;
  color: white;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(-8px);
  }
  100% {
    opacity: 1;
  }
}
.entry-form {
  margin-top: 0.5rem;
  animation-name: slide;
  animation-duration: 200ms;
  animation-delay: calc(var(--animation-order) * 100ms);
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}
.entry-form svg:hover {
  cursor: pointer;
  color: #FCA311;
}

.search-container {
  position: relative;
  z-index: 1;
}

.search-results {
  position: absolute;
  display: none;
  background-color: #262b30;
  width: 100%;
  top: 100%;
  left: 0;
  border-style: solid;
  border-width: 1px;
  border-color: #FCA311;
  padding-bottom: 0.75rem;
  max-height: 300px;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 100;
}
.search-results .search-header {
  padding: 0.5rem;
  padding-bottom: 0;
  color: #FCA311;
}

.search-results.visible {
  display: block;
}

.accordion {
  --bs-accordion-btn-color: white;
  --bs-accordion-btn-bg: #262b30;
  --bs-accordion-btn-active-color: white;
  --bs-accordion-btn-active-bg: #FCA311;
  --bs-accordion-body-bg: #f4f4f4;
  --bs-accordion-body-color: #333;
  --bs-accordion-active-color: #262b30;
  --bs-accordion-active-bg: #d88b0f;
  --bs-accordion-btn-focus-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 0.25rem #FCA311;
}

.accordion-button::after {
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23FCA311" viewBox="0 0 16 16"%3E%3Cpath fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/%3E%3C/svg%3E');
}

.accordion-button:not(.collapsed)::after {
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%2314213D" viewBox="0 0 16 16"%3E%3Cpath fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/%3E%3C/svg%3E');
}

.accordion-body .list-group-item svg:hover {
  cursor: pointer;
  color: #FCA311;
}

.list-group .active {
  --bs-list-group-active-bg: #d88b0f;
  --bs-list-group-active-border-color: #FCA311;
  color: #262b30;
}
.list-group .active:hover {
  background-color: #FCA311;
}

/*
=================================================
                LOGIN FORM
=================================================
*/
#login-view {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  align-items: center;
}
#login-view .login-form, #login-view .help-text {
  margin-top: 0.5rem;
}
#login-view .form-container {
  position: relative;
  align-self: center;
  width: 80vw;
  max-width: 350px;
  padding: 2rem;
  border-radius: 1rem;
  background-color: #262b30;
}

/*
=================================================
                REGISTER FORM
=================================================
*/
#register-view {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
}
#register-view .register-form, #register-view .help-text {
  margin-top: 0.5rem;
}
#register-view .form-container {
  position: relative;
  align-self: center;
  width: 80vw;
  max-width: 500px;
  padding: 2rem;
  border-radius: 1rem;
  background-color: #262b30;
}

/*
=================================================
                JOURNAL VIEW
=================================================
*/
#journal-view #jvContent .jvSubmitButton {
  padding-top: 0.75rem;
}
#journal-view #jvContent .card-header {
  margin-left: 0;
  margin-right: 0;
}
#journal-view #jvContent .card-header .col-9 {
  padding-left: 0;
}
#journal-view #jvWorkouts .list-group-item.active {
  background-color: #FCA311;
  border: none;
  color: #14213D;
}
#journal-view #jvForms {
  flex-grow: 1;
}

/*
=================================================
                ENTRIES VIEW
=================================================
*/
#entries-view .edit-entry-button-wrapper {
  margin-top: 0.5rem;
}
#entries-view #entries-calendar-container {
  padding: 0.75em;
  border-radius: 0.5em;
  background-color: #262b30;
}
#entries-view #entries-calendar-container #calendar-nav btn {
  color: #FCA311;
}
#entries-view #entries-calendar-container #calendar-nav btn :hover {
  cursor: pointer;
  color: white;
}
#entries-view #entries-calendar-container #calendar-days {
  background-color: #FCA311;
  color: #14213D;
  border-radius: 2em;
  margin-top: 3px;
}
#entries-view #entries-calendar-container #calendar-dates .col {
  margin: 3px;
  border-radius: 2em;
}
#entries-view #entries-calendar-container #calendar-dates .date-faded {
  color: rgb(78, 78, 78);
}
#entries-view #entries-calendar-container #calendar-dates .date-marked {
  background-color: #FCA311;
  color: #14213D;
}
#entries-view #entries-calendar-container #calendar-dates .date-current {
  background-color: white;
  color: #14213D;
}
#entries-view #entries-calendar-container #calendar-dates .col:hover:not(.date-faded):hover {
  background-color: white;
  color: #14213D;
  cursor: pointer;
}
#entries-view #enChartContainer {
  background-color: #262b30;
  border-radius: 0.5em;
  padding: 0.5em;
  margin-top: 0.5rem;
}
#entries-view #enChartContainer .chart-heading {
  margin-top: 0.5rem;
  font-size: 1.5rem;
}
#entries-view #enChartContainer canvas {
  margin-top: 0.5rem;
}
#entries-view #entries-entry-parent-container #entries-entry-container {
  background-color: #262b30;
  border-radius: 0.5em;
  padding: 0.5em;
}
#entries-view #entries-entry-parent-container #entries-entry-container #entries-header {
  padding: 0.5rem;
}
#entries-view #entries-entry-parent-container #entries-entry-container #entries-container {
  margin-top: 0.5rem;
}
#entries-view #entries-entry-parent-container #entries-search-bar {
  margin-top: 1em;
}

/*
=================================================
                PROGRAM VIEW
=================================================
*/
#program-view #program-view-header-wrapper {
  background-color: #262b30;
  border-radius: 0.5em;
  padding: 1rem;
  margin-top: 0.5rem;
}
#program-view #program-view-header-wrapper .program-card {
  margin-top: 1rem;
}
#program-view #program-view-header-wrapper .program-card .list-group-item:hover {
  cursor: pointer;
}
#program-view #program-view-header-wrapper #program-view-header {
  padding-left: 0.75rem;
}
#program-view #program-view-header-wrapper #program-view-header .row {
  padding-left: 0.75rem;
}
#program-view #program-view-header-wrapper #program-view-header .text-bg-success {
  background-color: #d88b0f !important;
  color: #262b30 !important;
}
#program-view #program-view-header-wrapper #program-view-header .badge {
  margin-top: 0.5rem;
  font-size: 0.7rem;
}
#program-view #program-view-header-wrapper #program-view-header .badge:hover {
  cursor: pointer;
}
#program-view #program-view-header-wrapper #program-view-buttons {
  align-self: center;
}
#program-view #program-view-header-wrapper #program-view-description {
  margin-top: 0.5rem;
}
#program-view #pvWorkoutContainer {
  background-color: #262b30;
  border-radius: 0.5em;
  padding: 1rem;
  margin-top: 0.5rem;
}
#program-view #pvWorkoutContainer .pv-workout-description {
  margin-top: 0.5rem;
}
#program-view #pvWorkoutContainer table thead {
  --bs-table-color: #FCA311;
}
#program-view #pvWorkoutContainer table td .add-workout-button:hover {
  color: #FCA311;
}
#program-view #pvWorkoutContainer table td .remove-workout-button:hover {
  color: #dc3545;
}
#program-view #pvWorkoutContainer table td svg:hover {
  cursor: pointer;
}
#program-view #pvExerciseContainer {
  background-color: #262b30;
  border-radius: 0.5em;
  padding: 1rem;
  margin-top: 0.5rem;
}
#program-view #pvExerciseContainer .workout-edit-button .btn {
  align-self: center;
}
#program-view #pvExerciseContainer .workout-helptext {
  margin-top: 0.5rem;
}
#program-view #pvExerciseContainer .pvWorkoutExerciseLink:hover {
  cursor: pointer;
  color: #FCA311;
}
#program-view #pvExerciseContainer #pvAddExerciseFormContainer {
  margin-top: 1rem;
}
#program-view #pvExerciseContainer #pvAddExerciseFormContainer .add-exercise-button {
  text-align: center;
}
#program-view #pvExerciseContainer #pvAddExerciseFormContainer .exercise-search-bar {
  margin-top: 1rem;
}
#program-view #pvExerciseContainer #pvAddExerciseFormContainer .exercise-form {
  margin-top: 0.5rem;
}
#program-view #pvExerciseContainer #pvAddExerciseFormContainer .exercise-form-footer {
  margin-top: 0.5rem;
}
#program-view #pvExerciseContainer #pvAddExerciseFormContainer .exercise-form-footer .btn {
  margin-left: 0.5rem;
}
#program-view #pvExerciseContainer #pvExerciseHelptext, #program-view #pvExerciseContainer #pvWkFmHelptext, #program-view #pvExerciseContainer #pvWkFmWrapper {
  margin-top: 0.5rem;
}
#program-view #pvExerciseContainer #pvWkFmSlWrapper {
  margin-top: 0.5rem;
}
#program-view #pvExerciseContainer #pvWkFmSlWrapper .btn {
  margin-top: 1rem;
  text-align: right;
}
#program-view #pvExerciseContainer #pvWorkoutEditFormWrapper {
  margin-top: 1rem;
}
#program-view #pvExerciseContainer #pvWorkoutEditFormWrapper #pvWkEdFrmRBtns .btn {
  margin-left: 0.5rem;
}

/*
=================================================
                EXERCISE VIEW
=================================================
*/
#exercises-view #exHeader {
  padding: 0.75rem;
  margin-top: 0.5rem;
  margin-bottom: 0.75rem;
  background-color: #262b30;
  border-radius: 0.5rem;
  color: white;
}
#exercises-view #exHeader .text-bg-info {
  background-color: #d88b0f !important;
  color: #262b30 !important;
}
#exercises-view #exHeader #exHeaderWorkouts {
  margin-top: 0.5rem;
}
#exercises-view #exHeader #evExerciseBodyparts span {
  margin-right: 0.25rem;
}
#exercises-view #exHeader #evExerciseDescription {
  margin-top: 0.5rem;
}
#exercises-view #exHeader #exEditExerciseButtons .btn {
  margin-left: 0.5rem;
}
#exercises-view #exHeader #evEditExerciseForm {
  margin-top: 0.5rem;
}
#exercises-view #exContentWrapper {
  background-color: #262b30;
  border-radius: 0.5em;
  padding: 1rem;
  margin-top: 0.5rem;
}
#exercises-view #exContentWrapper table td span:hover {
  cursor: pointer;
  color: #FCA311;
}
#exercises-view #exContentWrapper #evTableContainer {
  margin-top: 0.5rem;
}
#exercises-view #exContentWrapper #exFormsButtonWrapper, #exercises-view #exContentWrapper #exFormResetButton {
  max-width: 130px;
}
#exercises-view #exContentWrapper #exTableButtonWrapper {
  margin-top: 0.5rem;
}
#exercises-view #exContentWrapper #exTableButtonWrapper .btn {
  margin-left: 0.5rem;
}
#exercises-view #exContentWrapper .display-6 {
  margin-top: 0.5rem;
}
#exercises-view #exContentWrapper #exEntryListContainer {
  white-space: pre-wrap;
  margin-top: 0.5rem;
}

/*
=================================================
                MOBILE STYLES
=================================================
*/
@media (max-width: 992px) {
  nav .navbar-brand {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  nav .nav-link {
    border-radius: 0;
    padding-left: 0.5rem;
  }
  #login-logo svg {
    width: 100vw;
  }
  /*
  =================================================
                  JOURNAL VIEW
  =================================================
  */
  #journal-view #jvWorkouts {
    padding-bottom: 0.75rem;
    min-width: 100%;
  }
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateY(-8px);
      display: none;
    }
  }
  #journal-view #jvWorkouts .fade-out {
    animation-name: fadeOut;
    animation-duration: 200ms;
    animation-fill-mode: both;
    animation-delay: 50ms;
    animation-timing-function: ease-in-out;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
      display: block;
      transform: translateY(-8px);
    }
    100% {
      opacity: 1;
    }
  }
  #journal-view #jvWorkouts .fade-in {
    animation-name: fadeIn;
    animation-duration: 250ms;
    animation-fill-mode: both;
    animation-delay: 50ms;
    animation-timing-function: ease-in-out;
  }
  #journal-view #jvWorkouts .list-group-item.active {
    display: block;
  }
  #journal-view #jvWorkouts .workout-card-toggle {
    display: block;
    padding: 0.25rem;
  }
  #journal-view #jvWorkouts .workout-card-toggle svg {
    cursor: pointer;
  }
  #journal-view #jvWorkouts .hide {
    display: none;
  }
  /*
  =================================================
                  ENTRIES VIEW
  =================================================
  */
  #entries-view #entries-calendar-wrapper {
    min-width: 100%;
    margin-top: 0.5rem;
  }
  #entries-view #calendar-current-date.display-6 {
    font-size: 1.75rem;
  }
  #entries-view #entries-entry-parent-container {
    min-width: 100%;
    margin-top: 1em;
  }
  /*
  =================================================
                  ENTRIES VIEW
  =================================================
  */
  #exercises-view #exerciseChartContainer {
    position: relative;
  }
}
@media (max-width: 420px) {
  #entries-view #entries-calendar-wrapper {
    min-width: 100%;
    margin-top: 0.5rem;
  }
  #entries-view #calendar-current-date.display-6 {
    font-size: 1.5rem;
    padding-right: 0;
  }
  #entries-view #calendar-days {
    font-size: 3.1vw;
  }
  #entries-view #calendar-dates {
    font-size: 3.2vw;
  }
  #entries-view #calendar-body .col {
    padding-left: 3px;
    padding-right: 3px;
  }
  #entries-view #entries-entry-parent-container {
    min-width: 100%;
    margin-top: 1em;
  }
}
/*
=================================================
                DESKTOP STYLES
=================================================
*/
@media (min-width: 992px) {
  nav .navbar-brand {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 1rem;
  }
  html {
    overflow-y: scroll;
  }
  #journal-view #jvWorkouts .workout-card-toggle svg {
    display: none;
  }
  #journal-view #jvWorkouts .list-group-item {
    display: block;
  }
  #entries-view #entries-view-content {
    margin-top: 0.5rem;
  }
  #entries-view #calendar-current-date.display-6 {
    font-size: 2rem;
  }
  #entries-view #entries-calendar-wrapper {
    min-width: 400px;
  }
  #entries-view #entries-entry-wrapper {
    min-width: 100%;
  }
}/*# sourceMappingURL=styles.css.map */