{% extends "journal/layout.html" %}
{% load static %}

{% block title %}
    {{ user.username }}'s Journal
{% endblock %}

{% block header %}
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
        <a class="navbar-brand" id="journal">Your Journal</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
            <a class="nav-link" id="entries">Entries</a>
            <a class="nav-link" id="program">Program</a>
            <a class="nav-link" id="exercises">Exercises</a>
            <a class="nav-link" id="logout" href="/logout">Logout</a>
            </div>
        </div>
        </div>
    </nav>
{% endblock %}

{% block body %}
    <div id="content" class="container" data-bs-theme="dark">
        <div id="message" class="toast-container position-fixed start-50 translate-middle p-3"></div>
        <div id="journal-view">
            <div id="jvHeader" class="view-heading">

            </div>
            <div id="jvContent">
                <div class="row">
                    <div id="jvWorkouts" class="col-auto"></div>
                    <div id="jvForms" class="col-auto">
                        <div id="jvSearchBar"></div>
                        <div id="jvEntryForms"></div>
                        <div class="jvSubmitButton d-flex justify-content-end">
                            <button type="submit" id="jvSubmit" class="btn btn-outline-info mb-3">Add Entry</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="entries-view">
            <!-- <div id="entries-view-header" class="view-heading display-6">Your Entries:</div> -->
            <div id="entries-view-content">
                <div class="row">
                    <div id="entries-calendar-wrapper" class="col-4">
                        <div id="entries-calendar-container">
                            <div id="calendar-header" class="row">
                                <div id="calendar-current-date" class="col-8 display-6"></div>
                                <div id="calendar-nav" class="col-4 text-end">
                                    
                                </div>
                            </div>
                            <div id="calendar-body" class="container text-center">
                                <div id="calendar-days" class="row">
                                    <div class="col">Sun</div>
                                    <div class="col">Mon</div>
                                    <div class="col">Tue</div>
                                    <div class="col">Wed</div>
                                    <div class="col">Thu</div>
                                    <div class="col">Fri</div>
                                    <div class="col">Sat</div>
                                </div>
                                <div id="calendar-dates"></div>
                            </div>
                            <hr>
                            <div id="entries-form-container">
                                <form id="entries-form" class="row">
                                    <div class="mb-3 col">
                                        <label for="entriesStartDate" class="form-label"> Start Date: </label>
                                        <input class="form-control" type="date" id="entriesStartDate">
                                    </div>
                                    <div class="mb-3 col">
                                        <label for="entriesEndDate" class="form-label"> End Date: </label>
                                        <input class="form-control" type="date" id="entriesEndDate">
                                    </div>
                                    <div class="d-flex justify-content-end">
                                        <button type="submit" class="btn btn-outline-info">Search Entries</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div id="entries-entry-parent-container" class="col">
                        <div id="entries-entry-wrapper">
                            <div id="entries-entry-container">
                                <div id="entries-header" class="display-6"></div>
                                <div id="entries-container"></div>
                                <div id="entries-search-bar"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="program-view">
            <div id="program-view-header-wrapper">
                <div class="row">
                    <div id="program-view-header" class="display-6 col">Your Programs</div>
                    <div id="program-view-btn-wrapper" class="col-5 d-flex justify-content-end">
                        <div id="program-view-buttons"></div>
                    </div>
                    <div id="program-view-description"></div>
                    <div id="program-view-form-container">
            
                    </div>
                </div>
            </div>
            
            <div id="program-view-container">
                <div id="program-view-content">
                    
                </div>
            </div>
        </div>
        <div id="exercises-view">
            <div id="exHeader"></div>
            <div id="exContentWrapper">
                <div id="exFormsWrapper">
                    <div id="exForms" class="row d-flex"></div>
                </div>
                <div id="exContent"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'journal/history.js' %}?{% now 'U' %}"></script>
    <script src="{% static 'journal/utils.js' %}?{% now 'U' %}"></script>
    <script src="{% static 'journal/journal.js' %}?{% now 'U' %}"></script>
    <script src="{% static 'journal/entries.js' %}?{% now 'U' %}"></script>
    <script src="{% static 'journal/program.js' %}?{% now 'U' %}"></script>
    <script src="{% static 'journal/exercises.js' %}?{% now 'U' %}"></script>
    <script src="{% static 'journal/animation.js' %}?{% now 'U' %}"></script>
    <script>
        var CSRF_TOKEN = '{{ csrf_token }}'
    </script>
{% endblock %}