{% extends "journal/layout.html" %}

{% block body %}
    <div id="login-view" data-bs-theme="dark">
    <div class="form-container">
        <div>
            <div class="display-6">LOGIN</div>

            {% if message %}
                <div>{{ message }}</div>
            {% endif %}
            
            <form action="{% url 'login' %}" method="post" class="login-form">
                {% csrf_token %}
                <div class="mb-3">
                    <input autofocus class="form-control" type="text" name="username" placeholder="Username">
                </div>
                <div class="mb-3">
                    <input class="form-control" type="password" name="password" placeholder="Password">
                </div>
                <div class="justify-content-between d-flex">
                    <input class="btn btn-outline-success" type="submit" name="demo" value="Demo Login">
                    <input class="btn btn-outline-info" type="submit" name="login" value="Login">
                </div>
            </form>
            
            <div class="help-text">Don't have an account? <a href="{% url 'register' %}">Register here.</a></div>
        </div>
    </div>
    </div>
{% endblock %}