{% extends "journal/layout.html" %}

{% block body %}
    <div id="register-view" data-bs-theme="dark">
    <div class="form-container">
        
            <div class="display-6">REGISTER</div>

            {% if message %}
                <div>{{ message }}</div>
            {% endif %}
            
            <form action="{% url 'register' %}" method="post" class="register-form">
                {% csrf_token %}
                <div class="mb-3">
                    <input class="form-control" autofocus type="text" name="username" placeholder="Username">
                </div>
                <div class="mb-3">
                    <input class="form-control" type="email" name="email" placeholder="Email Address">
                </div>
                <div class="mb-3">
                    <input class="form-control" type="password" name="password" placeholder="Password">
                </div>
                <div class="mb-3">
                    <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
                </div>
                <div class="justify-content-end d-flex">
                    <input class="btn btn-outline-info" type="submit" value="Register">
                </div>
            </form>
            

            <div class="help-text">Already have an account? <a href="{% url 'login' %}">Log In here.</a></div>
        
    </div>
    </div>
{% endblock %}